* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

nav p {
    margin-left: 1.3rem;
    padding: .8rem;
    color:rgb(143, 41, 41);
    font-size: 1.6rem;
}

nav a {
    text-decoration: none;
}

.nav {
    width: 100%;
    height: auto;
    background-color: rgb(228, 207, 179);
    display: flex;
    /* align-content: space-around; */
    gap: 50%;
    flex-wrap: wrap;
    text-align: center;
    /* align-items: space-between; */

}

.nav .space {
    margin-right: 2rem;
    display: flex;
    gap: .5rem;
}

.home {
    background-color: rgba(51, 50, 99, 0.562);
}

.home:hover {
    background-color: rgba(42, 32, 58, 0.596);
    /* color: blue; */
}

.about {
    background-color: rgb(162, 113, 207);
}

.about:hover {
    background-color: rgba(46, 104, 88, 0.651);
}

.interest {
    background-color: rgb(97, 149, 179);
}

.interest:hover {
    background-color: rgb(202, 135, 135);
}

.contact {
    background-color: rgb(213, 100, 241);
}

.contact:hover {
    background-color: rgba(105, 82, 53, 0.87);
}

.jetliner {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    margin-left: 8rem;
    margin-top: 6rem;
}

.pic {
    width: 438px;
    height: 657px;
    /* border-image: fill; */
    border: teal;
    border-radius: 40px;
    /* margin: 8rem; */
    /* margin-left: 10rem; */
}

.greet {
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    font-weight:900;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.salute {
    align-items: flex-start;
    color: #475323;
}

.salute > span {
    color: rgb(17, 32, 5);
}

.jk {
    width: 60%;
    height: auto;
    font-size: large;
}

.jk > p {
    margin-bottom: 1.2rem;
}

main > .bullock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.lol > img {
    margin-top: 3em;
    width: 200px;
    height: 200px;
    border: 7px solid #475323;
    border-radius: 50%;
}

.shiss {
    border-top: .3rem solid #475323;
}

.shiss > p {
    margin-top: 1rem;
    width: 50em;
    height: auto;
    text-align: center;
}


.form-cl {
    width: 400px;
    height: 400px;
    margin-left: 40%;
    margin-top: 8rem;
    background-color: rgb(141, 134, 124);
    padding-top: 8rem;
    border-radius: 20px;

}

.form-cl > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .9em;
}

.form-cl > form > p {
    color: #2e092c;
    /* font-size: larger; */
    font-weight: 600;
    padding-left: 3em;
}

.form-cl > form > input {
    width: 70%;
    height: 30px;   
    border-style: hidden;
    font-weight:600;
    border-radius: 1px;
}

.form-cl > form > button {
    width: 70%;
    height: 30px;
    background-color: rgb(51, 51, 224);
    border-style: hidden;
    border-radius: 5%;
}

.form-cl > form > button:hover {
    background-color: blue;
}