{% extends "layout.html" %}

{% block title%} About page {% endblock %}

{% block body %}

    <nav class="nav">
        <div><p> 👋🏾 Welcome</p></div>
        <div class="space">
            <div class="home"><a href="{{ url_for('hello_world') }}"><p> 🏠 Home </p></a></div>
            <div class="interest"><a href="{{ url_for('project') }}"><p> ⏳ Project</p></a></div>
            <div class="contact"><a href="{{ url_for('contact') }}"><p>🤙🏽 Contact</p></a></div>
            
        </div>
    </nav>

    <main>
        <section class="bullock">
            <div class="lol">
                <img src="{{ url_for('static', filename='images/younger_him.png') }}" alt="">
            </div>
            <div class="shiss"> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae eveniet fugiat esse 
                    repellendus similique modi ullam distinctio. Ullam optio dolor recusandae. 
                    Illum et ipsam quidem repellendus nam similique adipisci?
                </p>
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae repudiandae nam recusandae in debitis 
                    accusantium pariatur, ab, officia odit excepturi, dolore ipsum 
                    consectetur veniam ipsam soluta numquam illo. Repudiandae, odit?
                </p>    
            </div>
        </section>
    </main>
    <p>About</p>
{% endblock %}