<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Moses's Page</title>
</head>
<body>
    <nav class="nav">
        <div><p> 👋🏾 Welcome</p></div>
        <div class="space">
            <div class="about"><a href="#"><p>🧔🏾‍♂️ About Me</p></a></div>
            <div class="interest"><a href="#"><p>⏳ Projects</p></a></div>
            <div class="Contact"><a href="#"><p> 🤙🏽 Contact</p></a></div>
        </div>
    </nav>
    
    <main>
        <div class="">
            <div class="hu"></div>
            <div class="jk"></div>
        </div>
    </main>
    
    <footer>
        <div class=""></div>
    </footer>

    </div>
</body>
</html>